/* background color for the entire page */
html {
  /* background-color: darkslateblue; */
background-color: darkblue;
}

/* Carries the div form, positions it on the left corner */
#form {
  float: left;
  position: fixed;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: white;
  margin: 20px;
  margin-top: 60px;
  width: 50%;
  height: 91%;
  overflow: auto;
}

/* Sets the div on which the .map-directions div sits */
#directions {
  float: right;
  position: static;
  background-color: darkblue;
  width: 50%;
  margin-left: 60px;
  margin-top: 60x;
  padding: 20px;
  padding-top: 60px;
  padding-left: 20px;
}

#chat {
  background-color: white;
  position: static;
  float: right;
  width: 800px;
  height: 383px;
  border-style: ridge;
  box-shadow: 1px 1px 5px black, 0 0 5px darkblue;
  margin-left: 420px;
  margin-right: 30px;
  margin-bottom: 80px;
}

/* Animation to create a responsive page with the width dips below 992px */
@media (min-width: 992px) {
  header {
    padding: 50px 0 50px;
  }
}