html {
  background-color: gray;
}

@media (min-width: 992px) {
  header {
    padding: 50px 0 50px;
  }
}


#form {
  float: left;
  position: fixed;
  padding: 10px;
}

#directions {
  float: inherit;
  width: 100%;
  background-color: gray;
  padding: 10px;
}

/* Positioning the map lower on the page in the right corner */
.map-directions {
  position: static;
  float: right;
  padding-top: 40px;
  padding-left: 800px;
  width: 75%;
}

#chat {
  position: static;
  float: right;
  right: 400px;
  width: 800px;
  height: 400px;
  border-style: ridge;
  box-shadow: 1px 1px 5px black, 0 0 5px darkblue;
  padding: 10px;
}

.form-container {
  background-color: brown;
  width: 200%;
  height: 200%;
  margin: 10px;
}

.directions-container {
  padding: 0px;
  margin: 0px;
}