/* Setting font type of the chat window */
body {
    font: 13px "Helvetica", Arial;
}

/* area between button and first chat message */
.chat{
    width: 100%;
    height: 350px;
    overflow: auto;
}

/* Styling the "send" button */
.chat-button{
    width: 10%;
    justify-content: center;
    margin-left: 150px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.form-control {
    width: 98%;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}

#messages {
    margin-bottom: 40px
}

/* making the page responsive */
@media only screen and (max-width: 800px) {
     .chat-form{
        flex-flow: column wrap;
    }
}