.patient-fill-out {
    width: 50%;
    float: left;
}

/* .patient-form {
    width: 50%;
    float: right;
} */

.form-group {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .App-title{
        font-size: 25px;
    }
}

#form {
    margin-top: 40px;
    height: 50%;
}

.form-group {
    margin: 10px;
}