.topList {
    width: 50%;
    padding-top: 15px;
    font-size: 15px;
    float: left;
}

.App-title {
    font-family: 'Kumar One', cursive;
    font-size: 32px;
    text-align: center;
}

.patient-form {
    width: 50%;
    float: right;
}


.form-group {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
}

.btn-primary {
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 5px 15px;
    width: auto;
}

@media only screen and (max-width: 600px) {
    .App-title{
        font-size: 25px;
    }
}