header{
	font-size: 20px;
}

.form{
	background: white;
}


.form input {
	display: block;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 25%;
}

button{
	display: block;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 5px;
}

